.profile__edit-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  padding: 0;
  background-image: url(../../../images/icon/edit.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}