.form__input-error {
  font-family: inherit;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0;
  outline: none;
}