.cards__icon {
  display: flex;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/icon/like.svg);
  background-size: cover;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.cards__icon:hover {
  opacity: 50%;
}