.cards__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  overflow: hidden;
  width: 282px;
  height: 361px;
}